.filter-items-list ul > li > .filter-lists button {
  position: relative;
  border: 1px solid black;
  display: inline-block;
  margin-right: 10px;
  padding: 5px;
  font-size: 12px;
  margin-bottom: 10px;
}

.filter-items-list ul > li > .filter-lists button.click {
  border: 1px solid red;
}